.textarea {
  textarea {
    background: #25262B;
    border-radius: 16px;
    padding: 18px 24px;
    color: #C1C2C5;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    height: 108px;
    &:focus-within {
      border-color: #CC5DE8;
    }
    &::placeholder {
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; 
      color: #5C5F66;
    }
    &:disabled {
      background: #25262B;
    }
  }

  label {
    margin-bottom: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #5C5F66;
  }
}