.chip {
  padding: 12px 18px;
  width: fit-content;
  height: fit-content;
  border-radius: 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  display: flex;
  align-items: center;
  background: #f1f3f5;
  cursor: pointer;
}
